.App {
    margin: 2rem;
}
.search-container {
    border: 1px solid lightgray;
    padding: .5rem;
    border-radius: 1rem;
}
.search-input {
    display: flex;
    flex-direction: column;
    
}

input {
    border: 1px solid lightgray;
    border-radius: .5rem;
    margin-top: .5rem;
}

.imageList {
    columns:250px 5;
    column-gap:.5rem;
}
.imageListImg {
    width: 100%;
    margin-bottom: .3rem;

}